# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Ignore the large file which exceeds the limit of the github (100 mb)
Frontend_Server/public/189692-886572510_medium.mp4

#Ignore pushing sensitive information like .env into the github
.env